@model EnrollmentApplication.Models.Enrollment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Enrollment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
</div>


<div class="form-group">
    @Html.LabelFor(model => model.IsActive, "IsActive", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.CheckBoxFor(model => model.IsActive, "IsActive")
        @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.AssignedCampus, "AssignedCampus", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.AssignedCampus, "AssignedCampus", "Western")
        @Html.ValidationMessageFor(model => model.AssignedCampus, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EnrollmentSemester, "EnrollmentSemester", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DisplayFor(model => model.EnrollmentSemester, "EnrollmentSemester", "Spring")
        @Html.DisplayFor(model => model.EnrollmentSemester, "EnrollmentSemester", "Summer")
        @Html.DisplayFor(model => model.EnrollmentSemester, "EnrollmentSemester", "Fall")
        @Html.ValidationMessageFor(model => model.EnrollmentSemester, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EnrollmentYear, "EnrollmentYear", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.EnrollmentYear, "EnrollmentYear", "Year")
        @Html.ValidationMessageFor(model => model.EnrollmentYear, "", new { @class = "text-danger" })
    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EnrollmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
